{{template "header" .}}

<style>
    #qr_modal_wrapper {
        background: rgba(0, 0, 0, 0.4);
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    #qr_modal {
        position: fixed;
        width: 256px;
        height: 256px;
        background: #fff;
        top: 50%;
        left: 50%;
        margin-left: -128px;
        margin-top: -128px;
    }

    #qr_modal_wrapper.hidden,
    #qr_modal_wrapper.hidden #qr_modal {
        display: none;
    }
</style>

<div id="qr_modal_wrapper" class="hidden">
    <div id="qr_modal">
       
    </div>
</div>
<div class=" d-flex align-items-center justify-content-center min-vh-100">



    <div class="container">


        <div class="row justify-content-md-center mb-3">
            <div id="success-block" class="col-12 alert d-none alert-success"></div>
            <div id="error-block" class="col-12 alert d-none alert-danger"></div>
        </div>

        <div class="row justify-content-md-center">


            <div class="col-md-3 p-3">

                
                
                Hello {{.User.Name}},
                <h1>Configure 2FA Options</h1>

                <code>{{ .User.ID }} | {{ .User.Email }}</code>

               
            
            </div>
            <div class="col-md-9 mb-3">

                <div class="row">
                    <div class="col-md-6">
                        <div class="bg-white mb-2 rounded-3 shadow-sm p-5">


                            <div class="vstack gap-1  mx-auto">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Google_Authenticator_%28April_2023%29.svg/2048px-Google_Authenticator_%28April_2023%29.svg.png"
                                    width="50px" />

                                <h3 class="m-0 p-0">Authenticator App {{ if .User.Authenticator.Validated }}<span
                                        class="text-success ms-1">(Enrolled)</span>{{else}}<span
                                        class="text-danger ms-1">(Not Enrolled)</span>{{ end }}</h3>


                                <!-- <button class="btn btn-secondary w-100 rounded-2 ps-3 pe-3 mt-2 mb-2"
                                    id="authenticator">Use Authenticator</button> -->

                                    <h4>Step 1</h4>
                                <b>Get Authenticator App</b>

                               <p>Open your Google or MS Authenticator app and scan the QR code
                                        to configure 2FA. Download <a target="_blank"
                                            href="https://support.google.com/accounts/answer/1066447?hl=en&co=GENIE.Platform%3DiOS">Google</a>
                                        or <a href="https://www.microsoft.com/en-us/security/mobile-authenticator-app"
                                            target="_blank">Microsoft</a>
                                        authenticator for iOS or Apple Playstore on your phone or tablet. </p>
                                        <br/>
                                        <h4>Step 2</h4>
                                        <b>Scan this barcode</b>
                                        <p>Open your app and click "+" to scan the QR code below.</p>

                                        <div><img class="img-thumbnail " id="qr-code" src="/user/qr-code" alt="QR Code" /></div>
<br/>
                                        <h4>Step 3</h4>
                                        <b>Verify/Validate</b>
                                        <p>Once the barcode above is scanned, enter the verification code generated by the app.</p>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="qr_code_value">
                                            <button class="btn btn-success btn-sm" id="validate_qr_code" for="qr_code_value">Verify Code and Activate</label>
                                        </div>

                            </div>




                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="bg-white  rounded-3 shadow-sm p-5">
                            <div class="vstack gap-1  mx-auto">
                                <img src="https://webauthn.io/static/images/shield.svg" width="50px" />
                                <h3 class="m-0 p-0">WebAuthN {{ if .User.CredentialsJSON }}<span
                                        class="text-success ms-1">(Enrolled)</span>{{else}}<span
                                        class="text-danger ms-1">(Not
                                        Enrolled)</span>{{ end }}</h3>
                                <p class="p-0">Enable WebAuthN (Passkey, Yubikey etc.)</p>

                                <button class="btn btn-primary w-100 rounded-2 ps-3 pe-3 mt-2 mb-2"
                                    id="register">Register</button>



                                <p class="mt-2">WebAuthn, an API-based authentication, allows users to get rid of
                                        password-based systems and still provides better protection using the
                                        browser-supported API and public-key cryptography. 
                                </p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const qrModal = document.getElementById('qr_modal_wrapper');
                const successBlock = document.getElementById('success-block');
                const errorBlock = document.getElementById('error-block'); // Assuming you have this element for displaying errors
                const qrImage = document.getElementById('qr-code');
            
                async function fetchData(url, options) {
                    const response = await fetch(url, options);
                    if (!response.ok) throw new Error('Network response was not ok');
                    return await response.json();
                }
            
                function showQRModal(imageSrc) {
                    qrImage.src = imageSrc;
                    // qrModal.classList.remove('hidden');
                }
            
                function showSuccess(message) {
                    successBlock.textContent = message;
                    successBlock.classList.remove('d-none');
                }
            
                function showError(error) {
                    errorBlock.textContent = error.message;
                    errorBlock.classList.remove('d-none');
                }
            
                async function registerAuthenticator() {
                    try {
                        const url = '/api/authenticator';
                        const data = await fetchData(url, { method: 'POST', credentials: 'same-origin' });
                        showQRModal(data.encoded_qr_code);
                    } catch (error) {
                        showError(error);
                    }
                }

                async function validateAuthenticator() {
                    try {
                        const qrCode = document.getElementById('qr_code_value').value;
                        const authData = {
                            code: qrCode
                        };

                        const url = '/api/authenticator/validate';
                        const data = await fetchData(url, { method: 'POST', headers: {'Content-Type': 'application/json'}, credentials: 'same-origin', body: JSON.stringify(authData) });
                        if(data.error) {
                            showError({ "message": "Invalid Code"})
                            return
                        }
                        showSuccess(data.verified)
                    } catch (error) {
                        showError(error);
                    }
                }
            
                async function registerWebAuthn() {
                    try {
                        const url = '/api/begin-registration';
                        const registrationOptions = await fetchData(url, { method: 'POST', credentials: 'same-origin' });
                        registrationOptions.publicKey.challenge = base64UrlToBuffer(registrationOptions.publicKey.challenge);
                        registrationOptions.publicKey.user.id = base64UrlToBuffer(registrationOptions.publicKey.user.id);
                        if (registrationOptions.publicKey.excludeCredentials) {
                            registrationOptions.publicKey.excludeCredentials.forEach(cred => {
                                cred.id = base64UrlToBuffer(cred.id);
                            });
                        }
            
                        const credential = await navigator.credentials.create({ publicKey: registrationOptions.publicKey });
            
                        const authData = {
                            id: credential.id,
                            rawId: bufferToBase64Url(credential.rawId),
                            type: credential.type,
                            response: {
                                attestationObject: bufferToBase64Url(credential.response.attestationObject),
                                clientDataJSON: bufferToBase64Url(credential.response.clientDataJSON),
                            }
                        };
            
                        const finishRegistrationUrl = '/api/finish-registration';
                        await fetchData(finishRegistrationUrl, {
                            method: 'POST',
                            headers: {'Content-Type': 'application/json'},
                            credentials: 'same-origin',
                            body: JSON.stringify(authData)
                        });
            
                        showSuccess("Registration successful! Your credentials have been enrolled.");
                    } catch (error) {
                        showError(error);
                    }
                }
            
                // qrModal.addEventListener('click', function() {
                //     qrModal.classList.add('hidden');
                // });
            
                // document.getElementById('authenticator').addEventListener('click', registerAuthenticator);
                document.getElementById('validate_qr_code').addEventListener('click', validateAuthenticator);
                document.getElementById('register').addEventListener('click', registerWebAuthn);

                registerAuthenticator()
            });
            
            function base64UrlToBuffer(base64Url) {
                const padding = "==".slice(0, (4 - base64Url.length % 4) % 4);
                const base64 = base64Url.replace(/\-/g, "+").replace(/_/g, "/") + padding;
                const rawData = window.atob(base64);
                const outputArray = new Uint8Array(rawData.length);
            
                for (let i = 0; i < rawData.length; ++i) {
                    outputArray[i] = rawData.charCodeAt(i);
                }
                return outputArray.buffer;
            }
            
            function bufferToBase64Url(buffer) {
                let binary = '';
                const bytes = new Uint8Array(buffer);
                const len = bytes.byteLength;
                for (let i = 0; i < len; i++) {
                    binary += String.fromCharCode(bytes[i]);
                }
                return window.btoa(binary).replace(/\+/g, '-').replace(/\//g, '_').replace(/=+$/, '');
            }
            </script>
            
    </div>

</div>

</div>
{{template "footer" .}}